%header.navbar.navbar-default{role: 'navigation'}
  %div.container-fluid
    %div.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-left
        - flash.each do |key, value|
          %div{class: "alert alert-#{key}"}= value
      %ul.nav.navbar-nav.navbar-right
        - if signed_in?
          %li=link_to "Profile", user_path(current_user)
          %li=link_to "Settings", edit_user_path(current_user)
          %li=link_to "Sign Out", signout_path, method: :delete
        - else
          = form_tag sessions_path, class: 'form-inline', "role" => 'form' do
            %div.form-group
              = label_tag :email, '', class: 'sr-only'
              = text_field_tag :email, '', class: 'form-control', placeholder: "E-Mail Address"
            %div.form-group
              = label_tag :password, '', class: 'sr-only'
              = password_field_tag :password, '', class: 'form-control', placeholder: 'Password'
            = submit_tag "Sign In", class: "btn btn-default"
